@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dddbdb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dfdcdc;
    --foreground: #f8eeee;
  }
}

body {
  color: rgb(19, 128, 0);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
nav{

  margin-bottom: 30px;
}
.to-indigo-700 {
  --tw-gradient-to: #515151 var(--tw-gradient-to-position);
}